/* Main CSS code for the sign-in page of Trackgenix (by Nancy L. Cima) */

/* Fonts /*
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Color Palette: #000 (black), #fff (white), #AACE9B (ligth green), #373867 (dark blue), 
#69A362 (green), #DADADA (grey)*/


main {
    display: flex;
    justify-content: center;
    height: 100%;
    margin-left: 10%;
}

main div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 0 20% 0;
    width: 45%;
    height: 75%;
    box-shadow: 0px 4px 4px #DADADA;
    border-radius: 5px;
}

#sign-up {
    font-size: 20px;
    font-weight: bold;
    margin: 5% 0 5% 0;
}

#sign-upForm {
    display: flex;
    justify-content:  center;
}

#sign-upForm input {
    margin: 5% 5% 0 7%;
}

.sign-upSubmit {
    width: auto;
    height: auto;
    margin-top: 10%;
    padding: 1%;
    border: none;
    border-radius: 10px;
    font-weight: 400;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    background-color: #AACE9B;
}
.sign-upSubmit:hover {
    cursor: pointer;
    background-color: #e3eae0;
    transition: 0.3s;
}