<!-- HTML code of the landing page for Trackgenix S.A. (by Nancy L. Cima) -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Styles/reset.css">
        <link rel="stylesheet" href="../Styles/header.css">
        <link rel="stylesheet" href="../Styles/landing.css">
        <link rel="stylesheet" href="../Styles/sidebar.css">
        <link rel="stylesheet" href="../Styles/footer.css">
        <link rel="stylesheet" href="../Styles/styles.css">
        <title>Trackgenix S.A.</title>
    </head>
    <body>
        <header>
            <div>
                <img src="../Assets/menu-hamburguesa.png" alt="menu">
            </div>
            <div>
                <h1>
                    Trackgenix
                </h1>
                <p>
                    We are Trackgenix
                </p>
            </div>
        </header>
        <aside>
            <div class="line-separator-siderbar"></div>
            <nav>
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="sign-up.html">Sign Up</a></li>
                    <li><a href="login.html">Log In</a></li>
                </ul>
            </nav>
            <div class="line-separator-siderbar"></div>
            <section id="contact-section">
                <h2>Contact</h2>
                <p>
                    Sed varius enim lorem ullamcorper dolore aliquam aenean ornare velit lacus, ac varius enim
                    lorem ullamcorper dolore. Proin sed aliquam facilisis ante interdum.
                    Sed nulla amet lorem feugiat tempus aliquam.
                </p>
                <ul>
                    <li><img src="../Assets/email.png" alt="email"></li>
                    <li><a href="#"> information@untitled.tld </a></li>
                    <li><img src="../Assets/phone.png" alt="phone"></li>
                    <li><a href="#">Tel.: (000) 000-0000</a></li>
                    <li><img src="../Assets/home.png" alt="home"></li>
                    <li><a href="#">1234 Somewhere Road #8254 Nashville, TN 00000-0000</a></li>
                </ul>
            </section>
        </aside>
        <main>
            <section id="welcome-section">
                <h2 id="welcome-title">
                    Welcome to Trackgenix
                </h2>
                <h3 id="welcome-subtitle">
                    The new work system
                </h3>
                <div id="welcome-content">
                    <img src="../Assets/imagen-de-recursos-humanos.png" alt="Human Resources">
                    <p id="welcome-text">
                        Aenean ornare velit lacus, ac varius enim ullamcorper eu. Proin aliquam facilisis ante interdum
                        congue.
                        Integer mollis, nisl amet convallis, porttitor magna ullamcorper, amet egestas mauris.
                        Ut magna finibus nisi nec lacinia. Nam maximus erat id euismod egestas. Pellentesque sapien ac quam.
                        Lorem ipsum dolor sit nullam.
                    </p>
                </div>
            </section>
            <div class="line-separator"></div>
            <section id="features-section">
                <h2>
                    Features
                </h2>
                <div class="features-div">
                    <div class="features-container">
                        <h3>
                            RECORD OF HOURS
                        </h3>
                        <div class="features-items">
                            <img id="clock" src="../Assets/imagen-reloj.png" alt="Clock">
                            <p>
                                Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                                Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                            </p>
                        </div>
                    </div>
                    <div class="features-container">
                        <h3>
                            RESOURSE MANAGEMENT
                        </h3>
                        <div class="features-items features-items-reverse">
                            <img id="gestion" src="../Assets/gestion-de-recursos-imagen.jpg" alt="Human resources gestion">
                            <p>
                                Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                                Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="features-div">
                    <div class="features-container">
                        <h3>
                            REPORTS
                        </h3>
                        <div class="features-items">
                            <img id="report" src="../Assets/imagen-reporte.png" alt="Report">
                            <p>
                                Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                                Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                            </p>
                        </div>
                    </div>
                    <div class="features-container">
                        <h3>
                            MULTIPLE ROLES
                        </h3>
                        <div class="features-items-reverse">
                            <img id="roles" src="../Assets/imagen-multiples-roles.webp" alt="Multiple roles">
                            <p>
                                Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                                Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <div class="line-separator"></div>
            <section id="reasons">
                <div class="box">
                    <h3>
                        PRODUCTIVITY BOOSTER
                    </h3>
                    <p>
                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                        Proin aliquam facilisis sante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                    </p>
                </div>
                <div class="box">
                    <h3>
                        WORK TRACEABILITY
                    </h3>
                    <p>
                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                        Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                    </p>
                </div>
                <div class="box">
                    <h3>
                        LEADERSHIP AND TEAM MANAGEMENT
                    </h3>
                    <p>
                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                        Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                    </p>
                </div>
                <div class="box">
                    <h3>
                        DECISION MAKING
                    </h3>
                    <p>
                        Aenean ornare velit lacus, ac varius enim lorem ullamcorper dolore.
                        Proin aliquam facilisis ante interdum. Sed nulla amet lorem feugiat tempus aliquam.
                    </p>
                </div>
            </section>
            <div class="line-separator"></div>
            <form>
                <fieldset id="form-data-field">
                    <legend>
                        Information
                    </legend>
                    <div>
                        <label for="full-name">Name & Last name</label>
                    </div>
                    <input id="full-name" type="text" name="full-name" placeholder="Name Last-Name" >
                    <div>
                         <label for="email">E-mail</label>
                    </div>
                    <input id="email" type="email" name="email" placeholder="your@email.com">
                </fieldset>
                <fieldset id="form-contact-field">
                    <legend>
                        Contact
                    </legend>
                    <div class=contact-div>
                        <input id="human-resources" class="radio-imputs" type="checkbox" name="contact" value="human-resources">
                        <label for="human-resources">Human Resources</label>
                        <input id="sistems" class="radio-imputs" type="checkbox" name="contact" value="sistems">
                        <label for="sistems">Sistems</label>
                        <input id="comercialization" class="radio-imputs" type="checkbox" name="contact" value="comercialization">
                        <label for="comercialization">Comercialization</label>
                    </div>
                    <div id="message-field-div">
                        <div>
                            <label for="message-clients">Message</label>
                        </div>
                        <div>
                            <textarea id="message-clients" name="message-clients" placeholder="Leave your massage here..."
                            rows="4" cols="50"></textarea>
                        </div>
                    </div>
                </fieldset>
                <input class="submit-button" type="submit" value="Submit">
            </form>
            <div class="line-separator"></div>
            <section id="our-history">
                <h2>
                    OUR HISTORY
                </h2>
                <p class="our-history-p1">
                    Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum.
                    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                    Integer ac pellentesque praesent. Lorem ipsum dolor. Lorem ipsum dolor vestibulum
                    ante ipsum primis in faucibus vestibulum.
                    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                </p>
                <p class="our-history-p2">
                    Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget.
                    tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum.
                    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                    Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod.
                    Vestibulum ante ipsum primis sagittis eget. tempus euismod.
                    Vestibulum ante ipsum primis in faucibus vestibulum.
                    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                    Integer ac pellentesque praesent.
                </p>
                <p class="our-history-p2">
                    Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget.
                    tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum.
                    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                    Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod.
                    Vestibulum ante ipsum primis sagittis eget. tempus euismod.
                    Vestibulum ante ipsum primis in faucibus vestibulum.
                    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                    Integer ac pellentesque praesent.
                </p>
                <p class="our-history-p2">
                    Lorem ipsum dolor sit accumsan interdum nisi, quis tincidunt felis sagittis eget.
                    tempus euismod. Vestibulum ante ipsum primis in faucibus vestibulum.
                    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                    Integer ac pellentesque praesent tincidunt felis sagittis eget. tempus euismod.
                    Vestibulum ante ipsum primis sagittis eget. tempus euismod.
                    Vestibulum ante ipsum primis in faucibus vestibulum.
                    Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus.
                    Integer ac pellentesque praesent.
                </p>
            </section>
            <div class="line-separator"></div>
            <section id="items-list">
                <div>
                    <h2>
                        PRODUCTS
                    </h2>
                    <ul>
                        <li><a href="#">Funcionalities</a></li>
                        <li><a href="#">Downloads</a></li>
                        <li><a href="#">Integrations</a></li>
                        <li><a href="#">Extras</a></li>
                    </ul>
                </div>
                <div>
                    <h2>
                        COMPANY
                    </h2>
                    <ul>
                        <li><a href="#">About us</a></li>
                        <li><a href="#">Clients</a></li>
                        <li><a href="#">Resources</a></li>
                        <li><a href="#">Blog</a></li>
                    </ul>
                </div>
                <div>
                    <h2>
                        SUPPORT
                    </h2>
                    <ul>
                        <li><a href="#">Help</a></li>
                        <li><a href="#">Tutorials</a></li>
                        <li><a href="#">API</a></li>
                        <li><a href="#">Contact</a></li>
                    </ul>
                </div>
            </section>
        </main>
        <footer>
            <p>
                Rosario, Santa Fe - Argentina
            </p>
            <p>
                Copyright &copy; 2022 Trackgenix SA. All rights reserved.
            </p>
        </footer>
    </body>
</html>
