<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Styles/reset.css">
        <link rel="stylesheet" href="../Styles/header.css">
        <link rel="stylesheet" href="../Styles/sidebar.css">
        <link rel="stylesheet" href="../Styles/login.css">
        <link rel="stylesheet" href="../Styles/footer.css">
        <link rel="stylesheet" href="../Styles/styles.css">
        <script src="../Javascript/login.js"></script>
        <title>Trackgenix S.A. - Log In</title>
    </head>
    <body>
        <header>
            <div>
                <img src="../Assets/menu-hamburguesa.png" alt="menu">
            </div>
            <div>
                <h1>
                    Trackgenix  
                </h1>
                <p>
                    We are Trackgenix  
                </p>
            </div>
        </header>
        <aside>
            <nav>
                <ul>
                    <li><img src="../Assets/email.jpg" alt="email"></li>
                    <li><a href="#">Home</a></li>
                    <li><img src="../Assets/email.jpg" alt="email"></li>
                    <li><a href="#">Sing Up</a></li>
                    <li><img src="../Assets/email.jpg" alt="email"></li>
                    <li><a href="#">Log In</a></li>
                </ul>
            </nav>
        </aside>
        <main>
            <div>
                <h2 id="login">Log In</h2>
                <form>
                    <label class="loginInputText">
                        <img class="loginImg" src="../assets/logemail.png" alt="Envelope">
                        <input type="email">
                    </label>
                    <label class="loginInputText">
                        <img class="loginImg" src="../assets/padlock.png" alt="Lock">
                        <input type="text">
                    </label>
                    <label class="loginInputCheckbox">
                        <input type="checkbox" checked="checked">
                        <p>Remember me</p>
                    </label>
                        <input class="loginSubmit" type="submit" value="Agree">
                </form>
                <p id="resetPassword">Reset Password</p>
            </div>
        </main>
        <footer>
            <p>
                Rosario, Santa Fe - Argentina
            </p>
            <p>
                Copyright &copy; 2022 Trackgenix SA. All rights reserved.
            </p>
        </footer>  
    </body>
</html>