<!-- HTML code of the sign-up page for Trackgenix S.A. (by Nancy L. Cima) -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../Styles/reset.css">
        <link rel="stylesheet" href="../Styles/styles.css">
        <link rel="stylesheet" href="../Styles/header.css">
        <link rel="stylesheet" href="../Styles/sidebar.css">
        <link rel="stylesheet" href="../Styles/footer.css">
        <link rel="stylesheet" href="../Styles/sign-up.css">
        <script src="../Javascript/sign-up.js"></script>
        <title>Trackgenix - Sign-up</title>
    </head>
    <body>
        <header>
            <img src="../Assets/menu-hamburguesa.png" alt="menu">
            <div>
                <h1>
                    Trackgenix
                </h1> 
                <p>
                    We are Trackgenix
                </p>
            </div>
        </header>
        <aside>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="#">Sign Up</a></li>
                    <li><a href="login.html">Log In</a></li>
                </ul>
            </nav>
        </aside>
        <main>
            <div>
                <h2 id="sign-up">Sign Up</h2>
                <form id="sign-upForm">
                    <label>
                        <input type="text" placeholder="Nombre">
                        <input type="text" placeholder="Apellido">
                        <input type="text" placeholder="DNI">
                        <input type="text" placeholder="Fecha de nacimiento">
                        <input type="text" placeholder="Teléfono">
                        <input type="text" placeholder="Dirección">
                    </label>
                    <label>
                        <input type="text" placeholder="Localidad">
                        <input type="text" placeholder="Código postal">
                        <input type="email" placeholder="Email">
                        <input type="text" placeholder="Contraseña">
                        <input type="text" placeholder="Repita la contraseña">
                    </label>
                </form>
                <input class="sign-upSubmit" type="submit" value="Create account">
            </div>
        </main>
        <footer>
            <p>
                Rosario, Santa Fe - Argentina
            </p>
            <p>
                Copyright &copy; 2022 Trackgenix SA. All rights reserved.
            </p>
        </footer>
    </body>
</html>