/* CSS code for Trackgenix (by Nancy L. Cima) */

/* Fonts /*
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Color Palette*/
/* Pallete: black, white, #AACE9B, #373867, #69A362*/

body {
  box-sizing: border-box;
  position: relative;
  background-color: #ffffff;
  color: #373867;
  font-family:'Roboto', sans-serif;
  font-weight: 400;
}

/* Elements of the body*/

/*Header*/
header {
  position: fixed;
  top: 0px;
  left: 0px;
  height: 122px;
  width: 100%;
  background-color: #AACE9B;
  z-index: 99;
}

header h1 {
  font-family:'Roboto', sans-serif;
  font-size: 86px;
  line-height: 101px;
  line-height: 100%;
  text-align: right;
  vertical-align: top;
  color: #373867;
  font-weight: 700;
}

header p {
font-family: 'Roboto', sans-serif;
font-size: 27px;
line-height: 32px;
line-height: 100%;
text-align: right;
vertical-align: baseline;
color: #69A362;
}

/* Footer */
footer {
  position: relative;
  top: 800px;
  right: 0;
  left: 19.1%;
  width: 85%;
  height: 150px;
  background-color: #AACE9B;
}

footer p { 
  position: absolute;  
  margin: 50px 0 0 5%;
  font-family: 'Roboto', sans-serif;
  text-align: center;
  font-weight: bold;
  font-size: 18px;
  color: #373867;
}

