/* Footer CSS code for Trackgenix (by Nancy L. Cima) */

/* Fonts /*
/*font-family: 'Roboto', sans-serif;*/
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

/* Color Palette: #000 (black), #fff (white), #AACE9B (ligth green), #373867 (dark blue), #69A362 (green), #DADADA (grey)*/

footer {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
    padding-top: 2.5%;
    width: 180%;
    height: 150px;
    background-color: #AACE9B;
    z-index: 75;
}

footer p {
    margin-bottom: 1%; 
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #373867;
}


/* BREAKPOINTS */

/* Tablet */

@media only screen and (min-width: 768px) {
    footer p {
        font-size: 18px;
    }
}

/* Desktop */

@media only screen and (min-width: 1024px) {
    footer {
        padding-left: 10%;
    }
}