/* Styles CSS code for Trackgenix (by Nancy L. Cima) */

* {
    box-sizing: border-box;
  }

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.line-separator {
    margin: 50px 25px 50px 25px; 
    border: 5px solid #AACE9B;
}